body{
  background-color: black;
  margin: 0px;
}

.background {
  background-image: url(images/head_bg.jpg);
  background-repeat: no-repeat;
  background-position:  0 -150px;
}

.box_header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: white;
  opacity: 90%;
  font-family: 游ゴシック, Meiryo, sans-serif;
  font-weight: bold;
  padding: 10px 40px;

  .box_header_logo {
    position: relative;
    top: 5px;
    display: inline-block;
    padding: 20px;
  }
  .box_header_home {
    display: inline-block;
    padding: 20px;
  }
  .box_header_service {
    display: inline-block;
    padding: 20px;
  }
  .box_header_course {
    display: inline-block;
    padding: 20px;
  }
  .box_header_company {
    display: inline-block;
    padding: 20px;
  }
  .box_header_support {
    display: inline-block;
    padding: 20px;
  }
  .box_header_blog {
    display: inline-block;
    padding: 20px;
  }
  .box_header_access {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: #fcb900;
    color: white;
  }
}

.box_top {
  position: relative;
  z-index: 1;
  top: 150px;
  display: block;
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  font-family: 游ゴシック, Meiryo, sans-serif;
  width: 630px;
  text-align: center;
  margin: 0 auto;
  padding: 15px;

  .textbox_1 {
    font-size: 32px;
    font-weight: bold;
    height: 36px;
  }

  .textbox_2 {
    font-size: 12px;
  }

  .textbox_3 {
    font-size: 20px;
    padding: 10px;
  }

  .textbox_4 {
    font-size: 24px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(transparent 40%, yellow);
    line-height: 0.5;
  }

  .textbox_5 {
    background-color: rgb(14, 178, 242);
    border-radius: 10px;
    color: white;
    margin: 0 auto;
    width: 500px;
    padding: 15px;
  }
  .textbox_6 {
    font-size: 12px;
    margin: 10px;
    padding: 10px;
  }
}

.box_guidance {
  position: relative;
  z-index: 1;
  top: 150px;
  width: 800px;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;

  .beginner {
    width: 250px;
    height: 320px;
    display: inline-block;
    margin: 0 auto;
    color: white;
  }

  .smartphone {
    width: 250px;
    height: 320px;
    display: inline-block;
    margin: 0 auto;
    color: white;
  }

  .support {
    width: 250px;
    height: 320px;
    display: inline-block;
    margin: 0 auto;
    color: white;
  }
}

.box_explain {
  position: relative;
  z-index: 1;
  top: 150px;
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 200px;
  padding: 20px;
  color: white;

  .box_explain_title {
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px white;
    margin-bottom: 20px;
  }
}
