body {
  background-color: black;
  margin: 0px;
}

.background {
  background-image: url(images/head_bg.jpg);
  background-repeat: no-repeat;
  background-position:  0 -300px;
}

.box_top {
  display: block;
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  font-family: "メイリオ", Meiryo, sans-serif;
  width: 630px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 15px;

  .textbox_1 {
    font-size: 32px;
    font-weight: bold;
    height: 36px;
  }

  .textbox_2 {
    font-size: 12px;
  }

  .textbox_3 {
    font-size: 20px;
    padding: 10px;
  }

  .textbox_4 {
    font-size: 24px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(transparent 40%, yellow);
    line-height: 0.5;
  }

  .textbox_5 {
    background-color: rgb(14, 178, 242);
    border-radius: 10px;
    color: white;
    margin: 0 auto;
    width: 500px;
    padding: 15px;
  }
  .textbox_6 {
    font-size: 12px;
    margin: 10px;
    padding: 10px;
  }
}

.box_guidance {
  width: 800px;
  // あとで消す
  border: 4px solid;
  border-color: white;
  //
  font-size: 16px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;

  .beginner {
    width: 250px;
    height: 320px;
    display: inline-block;
    margin: 0 auto;
    color: white;
  }

  .smartphone {
    width: 250px;
    height: 320px;
    display: inline-block;
    margin: 0 auto;
    color: white;
  }

  .support {
    width: 250px;
    height: 320px;
    display: inline-block;
    margin: 0 auto;
    color: white;
  }
}

.box_explain {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  // あとで消す
  border: 4px solid;
  border-color: white;
  //
  color: white;

  .box_explain_title {
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px white;
    margin-bottom: 20px;
  }
}
